.senderBackground {
    border-radius: 25px;
    border: 2px solid #65695f;
    width: 30%;
    height: 7%;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 19px;
    float: right;
    display: flex;
    flex-direction: column;
    margin-left: 65%;
}

.receiverBackground {
    border-radius: 25px;
    width: 30%;
    height: 7%;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 19px;
    background-color: #dbddd9;
    border: 2px solid #65695f;

}

