.mainChat {
    display: flex;
    flex-direction: column;
}

.mainChat-msgs {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainChat-container {
    height: 404px;
    display: flex;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
}

.mainChat-container-inactive {
    height: 409px;
    width: 702.2px;
    border: 1px solid black;
}