.side-menu {
  opacity: 0;
}

.side-menu.active {
  transition: 3000ms;
  opacity: 1;
}

.menu-bars {
  margin-top: 10px;
  margin-left: 16px;
  font-size: 25px;
  background: none;
  width: 10px;
  height: 10px;
}

.sideBar-container {
  height: 410px;
  width: 60px;
  transition: 850ms;
  border: 1px solid black;
  border-top: 0;
}

.sideBar-container.active {
  width: 250px;
  transition: 850ms;
}

.age {
  margin-top: 10px;
  margin-left: 20px
}

.age-padding {
  padding-right: 30px
}

.name {
  margin-top: 40px;
  margin-left: 20px
}

.name-padding {
  padding-right: 15px
}